<html>
<head>
   <meta charset="UTF-8" />
    <title>EJS Phonegames</title>
</head>
<body>
    <h1>모바일 게임 추가</h1>
    <form action= "/phonegames" method="POST" >
<pre>
title    : <input type="text" name="title" style="width:300px;"></br></br>
company  : <input type="text" name="company" style="width:300px;"></br></br>
platform : <input type="text" name="platform" style="width:300px;"></br></br>
synopsis : <input type="text" name="synopsis" style="width:1000px;"></br>
<p>
<input type="submit" value="추가">  <input type="button" value="돌아가기" onclick="history.back(-1)">
</p>
</pre>
    </form>
</body>
</html>