<html>
<head>
   <meta charset="UTF-8" />
    <title>EJS Phonegames</title>
</head>
<body>
    <h1>로그인 완료!</h1>
    
<input type="button" value="리스트로 돌아가기" onclick="location.href='/phonegames'">

</body>
</html>
